<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AEY GROUP LIBRARY</title>
  </head>
  <body>
        <h1>{% block header %}WELCOME TO AEY GROUP LIBRARY{% endblock header %}</h1>
    <main>
      
      {% block content %}
      </h1>
      <nav>
        <ul>
          <li><a href="/">Books</a></li>
          <li><a href="/">Authors</a></li>
        </ul>
      </nav>
      {% endblock content %}
    
    </main>

    <footer>
      <p>&copy; 2024 My Website</p>
    </footer>
  </body>
</html>
