{% extends 'index.html' %}

<h4>{% block header %}AEY GROUP LIBRARY LIST OF BOOKS {% endblock header %}</h4>

{%block content %}
<td><a type="button" href="{% url 'insertbook' %}" class="btn btn-outline-primary" >Add Book</a></td>
<br />
<h5>These are the available books:</h5>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Book ID</th>
      <th scope="col">Title</th>
      <th scope="col">ISBN</th>
      <th scope="col">Edit</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for book in available_books %}
    <tr>
      <td >{{book.id}}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.isbn }}</td>
      <td>
        <a
          type="button"
          href="/update_author/{{author_id}}"
          class="btn btn-outline-primary"
          >Edit</a
        >
      </td>
      <td>
        <a
          type="button"
          href="{% url 'book_details' book.id %}"
          class="btn btn-outline-danger"
          >Details</a
        >
      </td>
    </tr>
    {% endfor %} 
  </tbody>
</table>
{% endblock content %}
