{% extends 'base.html' %} 

<h1>{% block header %}AEY GROUP LIBRARY LIST OF BOOKS {% endblock header %} </h1>


{%block content %}
  <p>These are the books:</p>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>ISBN</th>
      </tr>
    </thead>
    <tbody>
      {% for book in available_books %}
        <tr>
          <td>{{ book.id }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.isbn }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
