{% extends 'index.html' %}

<h1>{% block header %}AEY GROUP LIBRARY LIST OF BOOKS {% endblock header %}</h1>

{%block content %}
<td><a type="button" href="/insertbook" class="btn btn-outline-danger">Add Book</a></td>
<p>These are the books:</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">ISBN</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for book in available_books %}
    <tr>
      <td >{{book.id}}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.isbn }}</td>
      <td>
        <a
          type="button"
          href="/"
          class="btn btn-outline-primary"
          >Edit</a
        >
      </td>
      <td>
        <a
          type="button"
          href="/delete/{{book.id}}"
          class="btn btn-outline-danger"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %} {% endblock content %}
  </tbody>
</table>
